.App {
  width: 100vw;
  text-align: center;
}

.App-header {
  background-color: #88c;
  height: 50px;
  padding: 16px;
  color: white;
}

.App-title {
  font-size: 1.4em;
}

button {
  padding: 0.6em;
  border: none;
  border-bottom: 2px solid #888;
  border-radius: 0.4em;
  font-size: 120%;
  cursor: pointer;
  transition: 300ms;
}
button:focus {
  outline: none;
}
button:active {
  font-size: 130%;
}

button.primary {
  font-weight: bold;
  color: white;
  background-color: cornflowerblue;
}
button.primary:active {
  background-color: cyan;
  color: yellow;
}
button.primary:hover {
  background-color: blue;
}
