.Board {
  margin: 0;
  background-color: #efefef;
}

.Board-spinner {
  position: absolute;
  left: 50vw;
  top: 38vh;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.Board-winner {
  position: absolute;
  left: 50vw;
  top: 38vh;
  transform: translate(-50%, -50%);
  padding: 0.6em;
  border-radius: 0.8em;
  font-size: 240%;
  font-weight: bold;
  color: palevioletred;
  text-shadow: 2px 2px yellow;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.Cell {
  cursor: default;
}
.Cell-placeable {
  cursor: pointer;
}
.Cell-rect,
.Cell-rect-placeable {
  opacity: 0.1;
  transition: 200ms;
}
.Cell-rect-placeable:hover {
  opacity: 0.4;
}
.Cell-last {
  opacity: 0.8;
}
.Cell-marker-placeable {
  opacity: 0.2;
}
.Cell-stable {
  opacity: 0.5;
}
