.Game {
  width: 100vw;
  position: absolute;
  opacity: 1;
  transform: translateX(0vw);
  transition: opacity 0.8s, transform 0.4s;
  transition-timing-function: ease-out;
}
.Game.hidden {
  opacity: 0;
  transform: translateX(100vw);
}

.Game-header {
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid lightgray;
}
