.Menu {
  width: 100vw;
  position: absolute;
  opacity: 1;
  transform: translateX(0vw);
  transition: opacity 0.8s, transform 0.4s;
  transition-timing-function: ease-out;
}

.Menu.hidden {
  opacity: 0;
  transform: translateX(-100vw);
}

.Menu ul {
  padding-left: 0;
}

.Menu ul li {
  list-style-type: none;
  margin-top: 1em;
}

.Menu li button {
  min-width: 9em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
