.Setting {
  position: relative;
}

.Setting-header {
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid lightgray;
}

.Setting ul {
  padding-left: 0;
}

.Setting ul li {
  list-style-type: none;
  margin-top: 1em;
}

.Setting li button {
  min-width: 7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

button {
  padding: 0.8em;
  border: none;
  border-bottom: 2px solid #888;
  border-radius: 0.4em;
  font-size: 120%;
  cursor: pointer;
  transition: 300ms;
}
button:focus {
  outline: none;
}
button:active {
  font-size: 130%;
}

button.primary {
  font-weight: bold;
  color: white;
  background-color: cornflowerblue;
}
button.primary.black {
  background-color: darkcyan;
}
button.primary.white {
  background-color: lightcoral;
}
button.primary:active {
  background-color: cyan;
  color: yellow;
}
button.primary:hover {
  background-color: blue;
}
