.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #88c;
  height: 56px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu ul {
  padding-left: 0;
}

.menu ul li {
  list-style-type: none;
  margin-top: 1em;
}

.menu li button {
  min-width: 7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

button {
  padding: 0.8em;
  border: none;
  border-bottom: 2px solid #888;
  border-radius: 0.4em;
  font-size: 120%;
  cursor: pointer;
  transition: 300ms;
}
button:focus {
  outline: none;
}
button:active {
  font-size: 130%;
}

button.primary {
  font-weight: bold;
  color: white;
  background-color: cornflowerblue;
}
button.primary.black {
  background-color: darkcyan;
}
button.primary.white {
  background-color: lightcoral;
}
button.primary:active {
  background-color: cyan;
  color: yellow;
}
button.primary:hover {
  background-color: blue;
}
